{{#each this}}
<button id="{{id}}" data-="{{user_id}}"
  class="whitespace-normal bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-2xl ">
  {{capitalize_first category_name}}
</button>
{{/each}}