{{#each this}}
<div>
  <h2 class="text-center pr-24 underline text-zinc-300 text-2xl">{{capitalize_first name}}</h2>
  <p class="xs:pl-36 flex-wrap text-left w-3/4 text-slate-400 text-base">{{solution}}</p>
</div>
{{/each}}