{{#each this}}
<div id="{{id}}"" class="shadow-inner rounded bg-slate-700 border border-slate-500">
  <h2 class="text-center pr-24 underline text-zinc-300 text-2xl">{{capitalize_first name}}</h2>
  <pre class="xs:pl-36 flex-wrap text-left w-3/4 text-slate-200 text-base">{{solution}}</pre>
</div>
{{/each}} 