<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!--
  <link href="../dist/output.css" rel="stylesheet"> --}}
  <link href="/dist/output.css" rel="stylesheet">
</head>

<body class="bg-slate-800">

  <!-- Header Section -->
  <header
    class="flex flex-wrap md:justify-between items-center text-center py-4 border-b-2 top-0 w-full border-zinc-500 min-h-full">
    <div class="flex flex-wrap justify-left items-center xs:justify-center">
      <img class="animate-pulse-slow pl-4" src="https://img.icons8.com/ios/50/fa314a/accuracy.png" />
      <h1 class="text-slate-200 font-bold text-4xl pr-4 md:border-r-2 border-zinc-500"><a href="/">Troubleshot</a></h1>
      <div class="flex md:justify-left xs:justify-center pt-1 pl-12 inline-block text-slate-400 text-3xl">
        <div class="pr-12 xs:justify-center align-middle hover:text-slate-600">
          {{!-- <a href='/dashboard'>Dashboard</a> --}}
          <a href="/create-solution">Create a Solution</a>
        </div>
        {{#if loggedIn}}
        <div class="pr-32 xs:justify-center align-middle hover:opacity-50">
          <button id="addCategory"><img src="https://img.icons8.com/nolan/40/add.png" data-toggle="modal"
              data-dismiss="modal" /></button>
        </div>
        {{else}}
        <div class="pr-32 xs:justify-center align-middle hover:opacity-50">
          <a href="/login">Login</a>
        </div>
        {{/if}}
      </div>
    </div>
    {{#if loggedIn}}
    <div class="flex justify-end pr-12 text-md space-x-2">
      <button id="logout"
        class="bg-slate-500 hover:bg-slate-400 text-slate-100 font-bold py-2 px-4 rounded shadow-xl inline-block leading-none">
        Logout
      </button>
    </div>
    {{/if}}

  </header>

  <!-- Page Navigation -->
  <main class="lg:flex justify center min-h-screen relative space-y-4  ">
    {{!-- add category modal --}}
    <div id="addCategory-modal" class="modal plcae-content-center hidden fixed p-8 backdrop-blur-md bg-white/30 inset-1 m-28 z-50">
      <div class="relative m-auto border w-96 shadow-lg rounded-md border-slate-500">
        <form class=" relative addCategory-form p-8 bg-slate-800 border-2 border-slate-500 shadow-xl rounded-md "
          id="addCategory-form">
          <div>
            <label class="space-y-4 text-slate-400 text-xl" for="category">What would you like your category to be
              called?</label>
            <input class="class=space-y-4" type="text" id="category" maxlength="20" />
          </div>
          <div>
            <button id="modal-addCategory-btn"
              class="justify-self-center bg-red-500 hover:bg-red-700 px-1 text-sm m-w-xs text-white border-2 border-stone-900 rounded transition ease-in-out delay-150 mr-4  m-w-xs  hover:-translate-y-1 hover:scale-110 hover:mr-4 m-w-xs  duration-300"
              type="submit" data-toggle="modal" data-dismiss="modal">Create</button>
          </div>
        </form>
      </div>
    </div>
    {{!-- confirm deletion modal --}}
    <div id="deleteConfirm" class="modal hidden fixed p-8  backdrop-blur-md bg-white/30 inset-1 m-28 z-50">
      <div class="relative mx-auto border w-96 shadow-lg bg-slate-800 rounded-md border-slate-500">
        <label class="space-y-4 text-slate-400 text-xl" for="category">Are you sure you want to delete this
          solution?</label>
        <button id="confirm-delete"
          class="justify-self-center bg-red-500 hover:bg-red-700 px-1 text-sm m-w-xs text-white border-2 border-stone-900 rounded transition ease-in-out delay-150 mr-4  m-w-xs  hover:-translate-y-1 hover:scale-110 hover:mr-4 m-w-xs  duration-300"
          type="submit" data-toggle="modal" data-dismiss="modal">Confirm</button>
        <button id="cancel-delete"
          class="justify-self-center bg-gray-300 hover:bg-red-700 px-1 text-sm m-w-xs text-white border-2 border-stone-900 rounded transition ease-in-out delay-150 mr-4  m-w-xs  hover:-translate-y-1 hover:scale-110 hover:mr-4 m-w-xs  duration-300"
          type="submit" data-toggle="modal" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    {{{ body }}}
  </main>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/addCategory.js"></script>
  <script src="/javascript/categoryBtns.js"></script>
  <script src="/javascript/quickSearch.js"></script>
  {{/if}}
</body>


</html>