<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../dist/output.css" rel="stylesheet">
</head>



<body class="bg-slate-800">

  <!-- Header Section -->
  <header
    class="flex flex-wrap md:justify-between items-center text-center py-4 border-b-2 top-0 w-full border-zinc-500 min-h-full">
    <div class="flex flex-wrap justify-left items-center xs:justify-center">
      <img class="animate-pulse-slow pl-4" src="https://img.icons8.com/ios/50/fa314a/accuracy.png" />
      <h1 class="text-slate-200 font-bold text-4xl pr-4 md:border-r-2 border-zinc-500">Troubleshot</h1>
      <div class="flex md:justify-left xs:justify-center pt-1 pl-12 inline-block text-slate-400 text-3xl">
        <div class="pr-12 xs:justify-center align-middle hover:text-slate-600">
          <a href='/dashboard'>Dashboard</a>
        </div>
      {{#if loggedIn}}
        <div class="pr-32 xs:justify-center align-middle hover:opacity-50">
          <button id="addCategory"><img src="https://img.icons8.com/nolan/40/add.png" /></button>
        </div>
         {{else}}
         <div class="pr-32 xs:justify-center align-middle hover:opacity-50">
          <button id="login"><img src="https://img.icons8.com/nolan/40/add.png" /></button>
        </div>
       {{/if}}
      </div>
    </div>
    {{#if loggedIn}}
    <div class="flex justify-end pr-12 text-md space-x-2">
      <button id="logout"
        class="bg-slate-500 hover:bg-slate-400 text-slate-100 font-bold py-2 px-4 rounded shadow-xl inline-block leading-none">
        Logout
      </button>
    </div>
    {{else}}
    <div class="flex justify-end pr-12 text-md space-x-2">
      <button id="signup"
        class="bg-slate-500 hover:bg-slate-400 text-slate-100 font-bold py-2 px-4 rounded shadow-xl inline-block leading-none">
        Login
      </button>
    </div>
 {{/if}}
   {{!-- modals --}}
    <div id="login-modal" class="modal" style="display:none">
      <div class="relative top-20 mx-auto py-8 px-6 border w-96 shadow-lg rounded-lg bg-white text-emerald-400">
        <form class="login-form" id="login-form">
          <div>
            <label for="email-login">Email: </label>
            <input type="email" class="form-input text-pink mt-1 block rounded-md bg-slate-300 border-transparent focus:border-blue-600 focus:bg-white focus:ring-1" id="email-login" />
          </div>
          <div class="text-red-700">
            <label class="text-orange-600" for="password-login">Password: </label>
            <input type="password" id="password-login" />
          </div>
          <div>
            <button id="modal-login-btn" type="submit" data-toggle="modal" data-dismiss="modal" class="justify-self-start mr-4 bg-red-500 rounded-lg px-1 text-sm m-w-xs shadow-xl text-white border-zinc-700">submit</button>
          </div>
        </form>

        <form class="signup-form">
          <div>
            <label for="username-signup">Username: </label>
            <input type="text" id="username-signup" />
          </div>
          <div>
            <label for="email-signup">Email: </label>
            <input type="text" id="email-signup" />
          </div>
          <div>
            <label for="password-signup">Password: </label>
            <input type="password" id="password-signup" />
          </div>
          <div>
            <button id="modal-signup-btn" type="submit" data-toggle="modal" data-dismiss="modal" class="justify-self-start mr-4 bg-red-500 rounded-lg px-1 text-sm m-w-xs shadow-xl text-white border-zinc-700">create</button>
          </div>
        </form>
      </div>
    </div>
    
    <div id="addCategory-modal" class="modal" style="display:none">
      <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <form class="addCategory-form" id="addCategory-form">
          <div>
            <label for="category">What would you like your category to be called?</label>
            <input type="text" id="category" />
          </div>
          <div>
            <button id="modal-addCategory-btn" type="submit" data-toggle="modal" data-dismiss="modal">Create</button>
          </div>
        </form>

  </header>

  {{#if loggedIn}}

  <!-- Page Navigation -->
  <main class="lg:flex justify center min-h-screen relative">
    {{{ body }}}
    <script src="/javascript/logout.js"></script>
      <script src="/javascript/addCategory.js"></script>
  </main>
  {{else}}
  <script src="/javascript/login.js"></script>
  {{/if}}
  
</body>

</html>