<div class="flex flex-wrap flex-col relative text-center pt-10 py-3 px-6 text-slate-100 border-zinc-500 lg:border-r-2 md:w-1/6">
  <nav class="col-span-3">
    <form class="relative mx-auto text-gray-600 m-w-s pb-8">
      <input class="border-2 border-gray-300 bg-white h-8 rounded-lg text-sm focus:outline-none" type="search"
        name="search" placeholder="Search" />
      <button type="submit"
        class="justify-self-start mr-4 bg-red-500 px-1 text-sm m-w-xs text-white border-zinc-500 rounded">
        submit
      </button>
    </form>
    {{!-- dynamically generate category buttons --}}
    <div id="categoryBtnNav">
    {{> category-buttons categories}}
    </div>
    <ul class="pb-8 justify-between">

    </ul>
  </nav>
</div>
<div class="shadow-inner rounded bg-slate-700 border border-slate-500">
<form class="addSolution-form">
  <div>
  <label class="text-center pr-24 text-zinc-300 text-2xl" for="name">What would you like your Solution title to be?</label>
  <input type="text" id="name" />
  </div>
  
  <div>
  <label class="text-center pr-24 text-zinc-300 text-2xl" for="solution">What is the solution?</label>
  <textarea id="solution" name="solution" form="addSolution-form" rows="15" cols="102"></textarea>
  </div>
  
  <div>
  <label class="text-center pr-24 text-zinc-300 text-2xl" for="priority">What how important is this (1 - 5, low - high)?</label>
  <select type="text" id="priority">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  </div>
  
  <div>
  <label class="text-center pr-24 text-zinc-300 text-2xl" for="category_id">What category would you like this stored under?</label>
  <select name="category_id" id="category_id">
    {{> dropdown-category categories }}
  </select>
  </div>
    
  <div>
    <button class="justify-self-end mr-4 bg-red-500 px-1 text-sm m-w-xs text-white border-zinc-500 rounded" id="modal-addSolution-btn" type="submit">Create Solution</button>
  </div>

</form>
</div>

<script src="/javascript/addSolution.js"></script>
