<form class="addSolution-form">
  <div>
    <label for="category">Question:</label>
    <input type="text" id="category" />
  </div>
  <div>
    <label for="name">Question:</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="solution">Solution:</label>
    <input type="text" id="solution" />
  </div>
  <div>
    <label for="priority">Priority Level:</label>
    <input type="text" id="priority" />
  </div>
  <div>
    <label for="tag">Add a Tag:</label>
    <input type="text" id="tag" />
  </div>
  
  <div>
    <button type="submit">Create</button>
  </div>
</form>

<script src="/javascript/addSolution"></script>