{{!-- Search bar on left side navbar --}}
<div class="flex flex-wrap flex-col relative text-center pt-10 py-3 px-6 text-slate-100 border-zinc-500 lg:border-r-2 md:w-1/6">
  <nav class="col-span-3">
    <form class="relative mx-auto text-gray-600 m-w-s pb-8">
      <input id="search" class="border-2 border-gray-300 bg-white h-8 rounded-lg text-sm focus:outline-none" type="search"
        name="search" placeholder="  Search" />

{{!-- Submit Search Result Button --}}
      <button type="submit"
        id="submitBtn" class="justify-self-start mr-4 bg-emerald-700 hover:bg-emerald-900 px-1 text-sm m-w-xs text-white rounded border-2 border-stone-900">
        Submit
      </button>
    </form>

    {{!-- dynamically generate category buttons --}}
    <div id="categoryBtnNav">
    {{> category-buttons categories}}
    </div>
    <ul class="pb-8 justify-between">

    </ul>
  </nav>
</div>

{{!-- Create Solution Section --}}
<div class="items-center justify-center pl-10 lg:pl-48">
<form class="addSolution-form pt-8">
  {{!-- Title area --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="name">Solution Title: </label>
  <input type="text" id="name" maxlength="30" size="30" class="bg-gray-200" placeholder="  Please enter a title"/>
  </div>
  
  {{!-- Solution text area --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="solution">Solution: </label>
  <textarea id="solution" name="solution" form="addSolution-form" rows="15" cols="102" class="bg-gray-200" placeholder="  Your solution goes here"></textarea>
  </div>
  
  {{!-- Priority selection --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="priority">Priority (low-high): </label>
  <select type="text" id="priority" class="bg-gray-200 w-24 text-center">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  </div>
  
  {{!-- Category selection --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="category_id">Category: </label>
  <select name="category_id" id="category_id" class="bg-gray-200 text-center" placeholder="Solution Category">
    {{> dropdown-category categories }}
  </select>
  </div>

  {{!-Create Solution Button-  --}}
  <div class="flex justify-center h-10 align-center">
    <button class="mr-4 font-bold bg-sky-600 hover:bg-sky-800 px-2 text-lg m-w-xs text-zinc-300 rounded-xl border-2 border-stone-900" id="modal-addSolution-btn" type="submit">Create Solution</button>
  </div>

</form>
</div>

<script src="/javascript/addSolution.js"></script>
