<div class="flex flex-wrap flex-col relative text-center pt-10 py-3 px-6 text-slate-100 border-zinc-500 lg:border-r-2 md:w-1/6">
  <nav class="col-span-3">
    <form class="relative mx-auto text-gray-600 m-w-s pb-8">
      <input class="border-2 border-gray-300 bg-white h-8 rounded-lg text-sm focus:outline-none" type="search"
        name="search" placeholder="Search" />
      <button type="submit"
        class="justify-self-start mr-4 bg-red-500 px-1 text-sm m-w-xs text-white border-zinc-500 rounded">
        submit
      </button>
    </form>
    {{!-- dynamically generate category buttons --}}
    <div id="categoryBtnNav">
    {{> category-buttons categories}}
    </div>
    <ul class="pb-8 justify-between">

    </ul>
  </nav>
</div>
<div>
<form class="addSolution-form">
  <label for="name">What would you like your Solution title to be?</label>
  <input type="text" id="name" />
  
  <label for="solution">What is the solution?</label>
  <input type="text" id="solution" />
  
  <label for="priority">What how important is this (1 - 5, low - high)?</label>
  <input type="text" id="priority" />
  
  <label for="category_id">What category would you like this stored under?</label>
  <select name="category_id" id="category_id">
    {{> dropdown-category categories }}
    
  </select>

  <div>
    <button id="modal-addSolution-btn" type="submit" data-toggle="modal" data-dismiss="modal">Create Solution</button>
  </div>

</form>
</div>