<div class="flex flex-wrap flex-col relative text-center pt-10 py-3 px-6 text-slate-100 border-zinc-500 lg:border-r-2 md:w-1/6">
  <nav class="col-span-3">
    <form class="relative mx-auto text-gray-600 m-w-s pb-8">
      <input class="border-2 border-gray-300 bg-white h-8 rounded-lg text-sm focus:outline-none" type="search"
        name="search" placeholder="Search">
      <button type="submit"
        class="justify-self-start mr-4 bg-red-500 px-1 text-sm m-w-xs text-white border-zinc-500 rounded">
        submit
      </button>
    </form>
    {{!-- dynamically generate category buttons --}}
    <div id="categoryBtnNav">
    {{> category-buttons categories}}
    </div>
    <ul class="pb-8 justify-between">

    </ul>
  </nav>
</div>

<!-- Content Section -->
<div class="flex flex-shrink justify-center">
  <div class="text-center align-middle text-xl">
    {{!-- loop through the solutions array --}}
    <div class="space-y-6 px-6">
      {{> solution-content sol}}
    </div>
  </div>
</div>

{{!-- <script src="/javascript/homepage.js"></script> --}}