{{> category-buttons categories}}

<!-- Content Section -->
<div class="flex flex-shrink justify-center">
  <div class="text-center align-middle text-xl">
    {{!-- loop through the solutions array --}}
    <div id="solutionCont" class="w-1/2 space-y-6 px-6">
      {{> solution-content sol}}
    </div>
  </div>
</div>

<script src="/javascript/clearSearch.js"></script>
<script src="/javascript/displaySolution.js"></script>

