<ul class="pb-8 justify-between">
  <button id="Javascript"
    class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl">
    Javascript
  </button>
  <button id="Tailwind"
    class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl ">
    Tailwind
  </button>
  <button id="ExpressJS"
    class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl ">
    ExpressJS
  </button>
  <button id="Cooking"
    class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl">
    Cooking
  </button>
  <button id="Trig"
    class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl ">
    Trig
  </button>
  <button id="Excel"
    class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl ">
    Excel
  </button>
  <button id="Music"
    class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl ">
    Music
  </button>
</ul>