<div class="flex flex-wrap flex-col relative text-center pt-10 py-3 px-6 text-slate-100 border-zinc-500 lg:border-r-2 md:w-1/6">
    <nav class="col-span-3">
      <div class="relative mx-auto text-gray-600 m-w-s pb-8">
        <input class="border-2 border-gray-300 bg-white h-8 rounded-lg text-sm focus:outline-none"
          type="search" name="search" placeholder="Search">
          <button type="submit" class="justify-self-start mr-4 bg-red-500 px-1 text-sm m-w-xs text-white border-zinc-500 rounded">
            submit
          </button>
      </div>
        {{!-- dynamically generate category buttons --}}
      <ul class="pb-8 justify-between">
        {{#each categories as |category|}}
        <button id="{{category.category_name}}" class="bg-slate-500 hover:bg-slate-400 text-slate-100 py-2 mb-2 xs:w-45 text-center rounded shadow-xl ">
          {{capital_category category.category_name}}
        </button>
        {{/each}}
      </ul>
    </nav> 
</div>

  <!-- Content Section -->
  <div class="flex flex-shrink justify-center">
    <div class="lg:pt-20 text-center align-middle text-xl">
      <div class="pb-8 pr-24 text-center">
        <button id="highestPriority" class="bg-red-600 hover:bg-red-800 text-slate-100 font-bold py-2 px-4 pb-5 mb-2 w-48 rounded shadow-xl inline-block leading-none">
          Highest Priority
        </button>
        <button id="mostSelected" class="bg-blue-600 hover:bg-blue-800 text-slate-100 font-bold py-2 px-4 pb-5 mb-2 w-48 rounded shadow-xl inline-block leading-none">
          Most Selected
        </button>
        <button id="mostViewed" class="bg-indigo-500 hover:bg-indigo-700 text-slate-100 font-bold py-2 px-4 pb-5 mb-2 w-48 rounded shadow-xl inline-block leading-none">
          Most Viewed
        </button>
      </div>
    {{!-- loop through the solutions array --}}
      {{#each sol as |solutions|}}
      <div class="space-y-6">
        <h2 class="text-center pr-24 underline text-zinc-300 text-2xl">{{capital_category solutions.name}}</h2>
        <p class="xs:pl-36 flex-wrap text-left w-3/4 text-slate-400 text-base">{{solutions.solution}}</p>
      </div>
      {{/each}}
    </div>
  </div>

 <script src="/javascript/homepage.js"></script>