<div class="forms text-zinc-300 grid place-items-center border-r-2 border-zinc-500 px-2 h-screen">
<form class="login-form">
  <div>
    <h2 class="text-center text-2xl font-bold pb-3">Login</h2>
    <label for="email-login">Email:</label>
    <input class="text-black" type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input class="text-black" type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="login-btn" class="justify-self-start mr-4 bg-emerald-700 hover:bg-emerald-900 px-1 text-sm m-w-xs text-white border-2 border-stone-900 rounded">Login</button>
  </div>
</form>



<form class="signup-form align-top pb-32">
  <div>
    <h2 class="text-center text-2xl font-bold pb-3">Sign-Up</h2>
    <label for="username-signup">Username:</label>
    <input class="text-black" type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input class="text-black" type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input class="text-black" type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" id="signup-btn" class="justify-self-start mr-4 bg-emerald-700 hover:bg-emerald-900 px-1 text-sm m-w-xs text-white border-2 border-stone-900 rounded">Signup</button>
  </div>
</form>
</div>

<script src="/javascript/login.js"></script>