{{> category-buttons categories}}

<!-- Content Section -->
<div class="flex flex-shrink justify-center pl-10 lg:pl-48 lg:pt-12">
  <div class="text-center align-middle text-xl">
    {{!-- loop through the solutions array --}}
    <div id="solutionCont" class="w-2/3 space-y-6 px-6">
      {{> oneSolution sol}}
    </div>
  </div>
</div>


<script src="/javascript/editSolution.js"></script>
<script src="/javascript/displaySolution.js"></script>
<script src="/javascript/deleteSolution.js"></script>